*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url("https://images.adsttc.com/media/images/5b22/d831/f197/ccfa/2700/00ff/medium_jpg/KIDO_06.jpg?1529010216");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    // padding-top: 60px;
}
html{
    font-size: 20px;
}
div,section,nav,picture,img,span,small,strong{
    display: block;
    width: 100%;
}
img{
    height: 100%;
    object-fit: contain;
}
.cuerpo{
    background: white;
    min-height: 100vh;
    padding: 25px 0 20px;
    h1{
        text-align: center;
        color: rgb(0, 0, 194);
        font-family: 'Rubik Moonrocks', cursive;
    }
    .navegacion{
        padding-top: 15px;
        section{
            width: 90%;
            height: auto;
            box-shadow: 0 0 10px #ccc;
            margin: 0 auto 20px;
            border-radius: 15px;
            overflow: hidden;
            transition: .3s all ease-in-out;
            // height: 58px;
            // height: 80px;
            >div{
                height: 60px;
                padding: 10px 0;
                border-bottom: 2px solid #bbb;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: 100px 1fr 50px;
                place-content: center;
                // background: blue;
                picture{
                    height: 30px;
                    // img
                }
                h2{
                    letter-spacing: 2px;
                    font-size: 1.4rem;
                    font-family: 'Rubik Moonrocks', cursive;
                }
                span{
                    cursor: pointer;
                    svg{
                        font-size: 25px;
                    }
                }
            }
            nav{
                width: 95%;
                margin: 0 auto;
                div{
                    border-bottom: 2px solid #ddd;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                    position: relative;
                    display: grid;
                    grid-template-columns: 50px 1fr 50px;
                    span{
                        width: 100%;
                        position: relative;
                        margin-bottom: 2px;
                        b{
                            font-size: 1.1rem;
                            font-family: 'Josefin Sans', sans-serif;
                        }
                        i{
                            font-size: 1rem;
                            position: absolute;
                            right: 0;
                        }
                    }
                    small{
                        width: calc(100% - 100px);
                        transform: translateY(-4px);
                        margin: 0 auto;
                        grid-column: span 4;
                        font-size: .85rem;
                        font-family: 'Jura', sans-serif;
                        // font-family: 'Edu NSW ACT Foundation', cursive;
                    }
                    strong{
                        // background: red;
                        text-align: center;
                    }
                    .canPlatillos{
                        width: 45px;
                        transform: translate(-30% , 10px);
                        // font-size: 15px;
                        font-size: 1rem;
                        background: red;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.2rem;
                    }
                    .cancelarPlatillo{
                        transform: translateY(10px);
                        cursor: pointer;
                        svg{
                            // font-size: 21px;
                            font-size: 1.5rem;
                        }
                    }
                    // .canPlatillos,.cancelarPlatillo{
                    //     position: absolute;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    // }
                    // .canPlatillos{

                    //     left: -25px;
                    // }
                    // .cancelarPlatillo{
                    //     right: -30px;
                    //     cursor: pointer;
                    //     svg{
                    //         font-size: 20px;
                    //     }
                    // }
                    // small{
                    //     // width: 95%;
                    // }
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    html{
        font-size: 15px;
    }
    .con div{
        width: 145px;
    }
}